:root {
  --color-primary: #0396db;
  --color-secondary: #ef7f1b;
  --color-primary-dark: #1b1311;
  --color-primary-light-blue: #0aa5e7;
}

@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');


* {
  box-sizing: border-box;
}
body {
  font-family: 'Gloria Hallelujah', cursive;
  margin: 0;
}

a {
  text-decoration: none;
}
.container {
  width: 100vw;
  margin: 0 auto;
}

