.mt-4 {
  margin-top: 0!important;
}

.font-small {
  background: #2e293d;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  color: #ef7f1b;
  font-family: 'Gloria Hallelujah', cursive;
}

.footer-title {
  margin-bottom: 20px;
}

.footer-right {
  text-align: right;
}