
.header {
  font-family: 'Gloria Hallelujah', cursive;
  margin: 0;
  color: #2e293d;
  background-color: var(--color-primary);
  width: 100%;
  position: sticky;
  top: 50px;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    color: #000;
  }

  .logo_img {
    width: 200px;
    height: auto;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: var(--color-primary);
  }

  li a {
    display: block;
    padding: 20px 20px;
    text-decoration: none;

    :hover {
      background-color: var(--color-primary);
    }
  }

  .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }

  .menu-btn {
    display: none;

  }

  .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }

  .navIcon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;

    :before {
      top: 5px;
    }

    :after {
      top: -5px;
    }

    :before,
    :after {
      background: #333;
      content: '';
      display: block;
      height: 100%;
      position: absolute;
      transition: all .2s ease-out;
      width: 100%;
    }
  }
}

.header .menu-icon .navIcon:before,
.header .menu-icon .navIcon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}


.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navIcon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navIcon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navIcon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navIcon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navIcon:after {
  top: 0;
}

@media (max-width: 767px) {
  .header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;

    .logo_img {
      width: 100px;
      height: auto;
      padding-right: 30px;

    }
  }
}

@media (min-width: 768px) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}
